header {
  max-height: 100px;
  border: 1px solid black;
  padding: 8px;
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--text-color);
}

header h1 {
  font-size: 2rem;
}

.turtle {
  width: 12%;
  max-width: 80px;
  margin-right: 10px;
}

.footer {
  border: 1px solid var(--black-color);
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: var(--background-color);
  width: 100%;
}

.footer ul {
  display: flex;
}

.footer ul li {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.8rem;
  height: 50px;
}

.footer a {
  width: 33.3%;
  text-decoration: none;
  cursor: pointer;
}

.fa-user {
  position: relative;
  top: 5px;
  justify-content: center;
  align-items: center;
  color: purple;
}

.home {
  display: flex;
  /* background-color: var(--header-color); */
  justify-content: center;
  justify-content: space-evenly;
}

li:hover {
  background-color: var(--button-color);
}
