/* General Rule-Sets */

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  font-family: "caveat", sans-serif;
}

body {
  width: 60vw;
  margin: 50px auto;
  /* border: 1px solid black; */
}

main {
  background-color: beige;
  width: 100%;
  padding-bottom: 15px;
}

/* Header & Footer */

header {
  width: 100%;
  border: 1px solid black;
  padding: 8px;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.turtle {
  width: 40px;
  margin-right: 10px;
}

footer {
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: beige;
}

ul {
  display: flex;
  width: 60vw;
}

li {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.8rem;
  height: 50px;
  width: 20vw;
}

.fa-user {
  position: relative;
  top: 5px;
  justify-content: center;
  align-items: center;
  color: purple;
}

#profile {
  display: flex;
  background-color: lightcoral;
  justify-content: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

li:hover {
  background-color: lightgreen;
}

/* Profile-page */

/* picture and name */

.profile {
  display: flex;
  margin: 60px auto;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightcoral;
  width: 500px;
  background-color: lightcoral;
}

#profile-icon {
  font-size: 5rem;
  color: cornsilk;
  border: 3px solid cornsilk;
  padding: 20px;
  border-radius: 50%;
}

.profile h2 {
  font-size: 4rem;
  color: cornsilk;
}

/* about-me */

.about-me {
  padding: 20px 40px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-me p {
  line-height: 1.5;
  font-size: 1.5rem;
  /* text-decoration: underline; */
  text-align: justify;
  border: 1px dashed lightcoral;
  padding: 5px 10px;
}

/* counter */

.counter {
  display: flex;
  justify-content: center;
}

.counter p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 10px 20px;
  margin-left: 40px;
  border: 1px solid lightcoral;
  border-radius: 10px;
  width: 200px;
}

.counter i {
  font-size: 3rem;
  margin-right: 20px;
}

/* Settings */

.settings {
  padding: 20px 40px;
}

.settings h3 {
  font-size: 2rem;
  padding: 0 0 20px;
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

label {
  position: relative;
  font-size: 2rem;
}

input {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 25px;
  background-color: lightcoral;
  transition: background-color 0.3s;
  outline: none;
  cursor: pointer;
  margin-right: 80px;
}

input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: black;
  transition: left 0.3s;
}

input:checked {
  background-color: lightgreen;
}

input:checked::after {
  left: 70%;
}
