/* counter */

.counter {
    display: flex;
    justify-content: center;
  }
  
  .counter p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px 20px;
    margin-left: 40px;
    padding: 2%;
    border: 1px solid var(--header-color);
    border-radius: 10px;
    width: 30%;
  }
  
  .counter i {
    font-size: 3rem;
    margin-right: 20px;
  }