/* Settings */

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  max-width: 800px;
  margin: 30px auto 70px;
  padding: 0 40px;
}

.settings h3 {
  font-size: 2rem;
  padding: 0 0 20px;
}

/* Toggle-Switch */

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  max-width: 700px;
}

label {
  font-size: 1.5rem;
}

.toggle-input {
  -webkit-appearance: none;
  position: relative;
  width: 70px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--header-color);
  transition: background-color 0.3s;
  outline: none;
  cursor: pointer;
  transform: translateX(-75px);
}

.toggle-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  background-color: var(--black-color);
  transition: left 0.3s;
}

.toggle-input:checked {
  background-color: var(--button-color-active);
}

.toggle-input:checked::after {
  left: 70%;
}
